.h5p-hangman {
  font-family: sans-serif;
  margin: 0 auto;
  height: 100vh;
  /* overflow: auto; */
  text-align: center;
  color: black;
}

.first-screen {
  background-image: url(../images/background.jpg);
  background-size:70%;
  background-repeat: no-repeat;
  background-position: center;
}

.h5p-hangman .content-wrapper {
  margin-top: 25vh;
  padding-left: 10em;
}

.h5p-hangman .content-wrapper .button-container {
  margin-top: 5%;
}

.h5p-hangman .content-wrapper select {
  margin: 1em;
  padding: 0.5em 2em;
  width: 10em;
  background-color: white;
  border:1px solid grey;
  font-weight: bold;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(50deg, transparent 55%, black 55%), linear-gradient(130deg, black 50%, transparent 55%), linear-gradient(to right, white, white);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}


.h5p-letter:focus {
  outline: black dashed 1px;
}

.h5p-hangman .top-container .h5p-time-spent,
.h5p-hangman .top-container .h5p-attempts-left {
  display: inline-block;
  padding: 2% 20% 0 20%;
}
.h5p-hangman .game-container .left-container,
.h5p-hangman .game-container .right-container{
  display: inline-block;
  min-width: 256px;
  width: 38%;
  padding: 3%;
}

.h5p-hangman .game-container p span {
  color: #006bb3;
  font-weight:600;
  text-decoration-color: #006bb3;
}
.h5p-hangman .game-container .alphabet-container .h5p-letter{
  display: inline-block;
  color: white;
  background: #006bb3;
  border: 2px solid #006bb3;
  border-radius:0.2em;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  width: 2em;
  height: 2em;
  margin: .1em;
  line-height: 2;
  cursor: pointer;
}

.h5p-hangman .game-container .alphabet-container .h5p-letter-after-click {
  pointer-events: none;
  background: white;
  border:2px solid #006bb3;
  color: #006bb3;
  font-weight: bold;
}
.h5p-hangman .guess-container .guess {
  display: inline-block;
  margin: .1em;
  color: #006bb3;
  font-size: 3em;
  /* color:  */
}

#canvas {
  margin: auto;
 height: 15em;
 width: 15em;
 padding: .5em;
 border: 1px solid grey;
border-radius: 5px;
}

.button-container {
   margin-top: 2em;
}
.h5p-hangman-close {
  cursor: pointer;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
  width: 1em;
  height: 1em;
  text-align: center;
  color: #888;
}

.h5p-hangman-pop {
  display: none;
  background: #fff;
  padding: 0.25em;
  width: 40em;
  height: 17em;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 5px 10px 8px 10px #888888;
  border-radius: 0.25em;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;

}

.h5p-hangman-hint {
  outline: none;
  text-align: center;
  padding-top: 4em;
  color: steelblue;
  font-weight: bold;
  font-size: 2em;
  text-transform: capitalize;
}

.game-over-page {
  background-image: url(../images/gameover.jpg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 12em;
}

.game-win-page {
    background-image: url(../images/gamewin.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 12em;
  }

.game-over-page>.result-div,
.game-win-page>.result-div {
  margin-top: 12em;
  margin-left: 45%;
  margin-bottom: 1em;
  padding: .5em;
  border: 1px solid grey;
  border-radius: .5em;
  width: 15em;
}

.game-win-page>.result-div>.total-time-spent>span,
.game-over-page>.result-div>.total-time-spent>span {
  margin-left: 3em;
}
.game-win-page>.result-div>.total-attempts-made>span,
.game-over-page>.result-div>.total-attempts-made>span{
  margin-left: 5em;
}

.game-over-page>.retry-button,
.game-win-page>.retry-button{
  margin-left: 10em !important;
}


/* .h5p-hangman .hangman-container {
  margin-top: 2em;
} */
