.h5p-hangman{
  max-width: 100%;
  text-align: center;
  background-color: #2E2A37;
}

h1{
  padding-top: 5%;
  color: floralwhite;
}

.ul-select{
  /*align: center;*/
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  list-style-type: none;
}

li{
  display: inline-block;
  padding-right: 50px;
}

.h5p-hangMan-xPlay{
  background-color: dodgerblue;

}

 .sequencing-status {} .sequencing-status > dt {
     margin: 0 1em 0 0;
     font-weight: bold;

 }

 .sequencing-status > dd {
     margin: 0;
     color: white;
     display: inline-block;
     /*padding: 5px 0;*/
     border: 2px solid dodgerblue;
     border-radius: 5px;
     width:60px;
     padding: 5px;
     margin-right: 400px;
     text-align:center;
     font-weight: bold;


   }
   .top-div-left{
     /*padding-left:400px;*/
     border: 2px solid dodgerblue;
     border-radius: 5px;
     padding: 5px;
     color: white;
     font-weight: bold;
   }
   .div-alpha{
     display: inline-block;
     color: white;
     border: 1px solid dodgerblue;
     border-radius: 5px;
     background:dodgerblue;
     cursor:pointer;
     font-size:1.2em;
     text-align:center;
     text-decoration-color: blue;
     width:50px;
     height: 30px;
     margin: 10px;
     outline: none;
   }

   .div-left{
     display:inline-block;
     width: 45%;
     height: auto;
     color: white;
   }
   .div-right{
     height = 100%;
     display:inline-block;

     /*width:50%;*/
   }
   #inner-div-right{
     border: solid 4px dodgerblue;
     border-radius: 10px;
     height: 16em;
     width:16em;
     text-align: center;
     padding: 10px;
   }
    #canvas-div{


      height: 100%;
      width:auto;
      text-align: center;

    }
    .guess{
      position: relative;
      list-style: none;
      margin: 0;
      display: inline-block;
      padding: 0 10px;
      font-size:1.6em;
   }

   .selected-category{
     font-weight: bold;
     font-style: oblique;
     font-variant-caps: small-caps;
   }
