/*.h5p-hangMan-Play.h5p-joubelui-button {
    margin-left: 200px;
}
*/
/*.td-class{
margin-top: 60px;
 }*/
  /*.display-image {
   width: 100%;
   height: auto;
 }*/
 .sequencing-status {} .sequencing-status > dt {
     margin: 0 1em 0 0;
     font-weight: bold;

 }
 /*.sequencing-status > dt:after {
     content: ":";
 }*/
 .sequencing-status > dd {
     margin: 0;
     display: inline-block;
     /*padding: 5px 0;*/
     border: 1px solid blue;
     border-radius: 5px;
     width:80px;
     margin-right: 400px;
     text-align:center;"

   }
.top-div-left{
     /*padding-left:400px;*/
     border: 1px solid blue;
     border-radius: 5px;
     width: 80px;

   }
   .div-alpha{
     display: inline-block;
     border: 1px solid blue;
     @include corners (5px);
     background: $base-color;
     color: white;
     color:$white;
     border: solid 1px blue;
     border-radius: 5px;
     background:blue;
     /*text-decoration: none;*/


     /*text-decoration:underline;*/
     cursor:pointer;
     font-size:1.2em;
     /*padding:18px 10px;*/
     text-align:center;
     text-decoration-color: blue;
     width:50px;
     height: 30px;
     margin: 10px;
     outline: none;

       &:hover{
         @include transition;
         background:$white;
         border: solid 1px $white;
         color:$base-color;
       }
   }

   .div-left{
     display:inline-block;
     width: 25%;
     height: auto;
   }
   /*.div-right{
      display:inline-block;
    }*/
    .flex-rectangle{
    width: 25%;
    height: 25%;
    background: #ca0164;
    display:inline-block;
}
.flex-rectangle:before{
    content: "";
    display: block;
    /*padding-top: 25%;*/
    display:inline-block;
}

    .guess{
      position: relative;
      list-style: none;
      margin: 0;
      display: inline-block;
      padding: 0 10px;
      font-size:1.6em;
    }
